.container{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.personcard {
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.personcard h2{
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.personcard p {
  margin: 8px 0;
}

.back-button{
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.back-button:hover{
  background-color: #0056b3;
}
